# Binaries
/bin
*.o
*.a

# Generated build files
/Makefile
/.downloading_clang
/include/env/impl.hpp

# YCM
*.pyc

# Clang
/clang*
/lib/clang*

# CMake
/build
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/color_coded.so
/install_manifest.txt

# Personal notes
NOTES
